CONFIG_PATH=/app/config.yaml
DB_PATH=/data/server-watch.db
REDIS_ADDR=redis:6379

CPU_THRESHOLD=80
MEM_THRESHOLD=90
TRIGGER_COUNT=3
RESOLVE_COUNT=3

SLACK_ENABLED=false
SLACK_URL=

PPROF_ENABLED=false